* {
  box-sizing: border-box;
  font-family: "Bree Serif", serif;
}

.menu::after {
  content: "";
  display: block;
  clear: both;
}

.top-menu:hover {
  background-color: #f6f6f6;
  color: #1e56a0;
  cursor: pointer;
}

.top-menu {
  float: left;
  line-height: 46px;
  list-style: none;
  background-color: #1e56a0;
  color: #f6f6f6;
  border: 2px solid #1e56a0;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  margin: 5px;
  width: 100px;
  height: 50px;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown2 {
  display: inline-block;
  position: relative;
  line-height: normal;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  overflow: visible;
  margin-top: 0;
}

.dropdown-content2 {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  left: 97px;
  top: 0;
  line-height: 46px;
}

.dropdown-content p:hover {
  background-color: #eeeeee;
}
.dropdown2:hover {
  background-color: #eeeeee;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown2:hover .dropdown-content2 {
  display: block;
}

.arrow-right {
  width: 20%;
  float: right;
  line-height: 46px;
}
.before-arrow {
  width: 80%;
  float: left;
}
.arrow-down {
  padding-left: 3px;
}
